{% extends "base.html" %}
{% load static %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
    <h1 class="w-100 text-center mb-5">Leaderboard</h1>
    {% if participants|length > 0 %}
        <div class="container w-100 h-100 justify-content-center d-flex">
            <table class="table w-75 text-center table-borderless">
                {% for p in participants %}
                    <tr>
                        {% if forloop.counter0 == 0 %}
                            <td class="fs-2 fw-bold" style="height: 80px"><i class="bi bi-1-circle-fill leaderboard-1 annimated-1"></i>&nbsp; <span class="annimated-1">{{ p.alias }} ({{ p.points }} points)</span></td>
                        {% elif forloop.counter0 == 1 %}
                            <td class="fs-3 fw-bold" style="height: 70px"><i class="bi bi-2-circle-fill leaderboard-2 annimated-2"></i>&nbsp; <span class="annimated-2">{{ p.alias }} ({{ p.points }} points)</span></td>
                        {% elif forloop.counter0 == 2 %}
                            <td class="fs-4 fw-bold" style="height: 60px"><i class="bi bi-3-circle-fill leaderboard-3 annimated-3"></i>&nbsp; <span class="annimated-3">{{ p.alias }} ({{ p.points }} points)</span></td>
                        {% else %}
                            <td class="fs-5">{{ forloop.counter }}. {{ p.alias }} ({{ p.points }} point{{ p.points|pluralize }})</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <h2 class="text-center text-secondary">There were no participants</h2>
    {% endif %}
{% endblock %}
