{% extends 'base.html' %}

{% block title %}Question detail{% endblock %}

{% block content %}

<h1>Question details</h1>
{% if user.is_authenticated %}
    {% if question.questionnaire.user == user %}
        <h4>{{ question.question }} ({{ question.answerTime }}s)  <a class="btn btn-warning my-2" href="{% url 'question-update' question.id %}"><i class="bi bi-pencil-fill"></i> &nbsp;Edit</a></h4> 

        <table class="table table-striped">
            <tr>
                <th>Answer</th>
                <th width="15%" class="text-center">Correct</th>
                <th width="15%"></th>
            </tr>
            {% for answer in answer_list %}
            <tr>
                <td class="text-start align-middle">{{ answer.answer }}</td>
                <td class="{% if answer.correct == False %}text-danger{% elif answer.correct == True %}text-success{% endif %} text-center align-middle">
                    {% if answer.correct == True %}
                        <i class="bi bi-check-circle-fill"></i>
                    {% elif answer.correct == False %}
                        <i class="bi bi-x-circle-fill"></i>
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{% url 'answer-update' answer.id %}" class="btn btn-outline-warning"><i class="bi bi-pencil-fill"></i> &nbsp;Edit</a>
                    <a href="{% url 'answer-remove' answer.id %}" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></i>&nbsp;Delete</a>
                </td>
            </tr>
            {% endfor %}
            {% if answer_list|length < 4 %}
            <tr>
                <td colspan="3" class="text-center align-middle color-primary"><a class="align-middle text-decoration-none" href="{% url 'answer-create' question.id %}">
                    <i class="bi bi-plus-circle fs-6" title="Add a new question"></i>&nbsp;Add answer</a></td>
            </tr>
            {% endif %}
        </table>

        <div>
        <a href="{% url 'questionnaire-detail' question.questionnaire.id %}" class="btn btn-outline-primary "><i class="bi bi-arrow-left"></i> &nbsp;Back to questionnaire</a>
        </div>
    {% else %}
        <h1>You are not the owner of this question</h1>
    {% endif %}
{% else %}
    <h1>You must be logged in to access this page</h1>
{% endif %}


{% endblock %}